@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dracula;
}

:root {
  --color-primary: #a41c22;
  --color-secondary: #dfeef2;
}

@theme {
  --font-bungee: "Kufam", serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 15px;
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl;
  }
  h2 {
    @apply font-bold text-3xl
  }
  h3 {
    @apply font-bold text-lg
  }
}
