@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: fantasy --default;
}

:root {
  --primary: #fbf5e5;
  --secondary: #171717;
}

@theme {
  --font-bungee: "Kufam", serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl;
  }
}
