@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dracula;
}

:root {
  --color-primary: #a41c22;
  --color-secondary: #121212;
}

@theme {
  --font-bungee: "Kufam", serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl;
  }
}
